/*FONTES*/
@font-face {font-family: "Futura-heavy"; src: url("../fonts/futurah.ttf");}
@font-face {font-family: futura_md_bt; src: local(futura_md_bt), url("../fonts/futura_md_bt.ttf") format('opentype');}
@font-face {font-family: futura_lt_bt; src: local(futura_lt_bt), url('../fonts/futura_lt_bt.ttf') format('opentype');}
.thick{font-family: Futura-heavy, sans-serif;}
.thin{font-family: futura_lt_bt, sans-serif;}
.regular{font-family: futura_md_bt, sans-serif;}
.regularbold{font-family: futura_md_bt, sans-serif; font-weight: bold;}
.esquerda {text-align: left;}
.direita {text-align: right;}
.titulo {padding-top:7px; padding-left:100px; text-align: left; color:#005ca9;}
.display-5 {
    font-size: 3.0rem;
    font-weight: 300;
    line-height: 1.1;
  }
  .display-5a {
    font-size: 2.5rem;
/*    font-weight: 300;*/
     line-height: 1.1;
  }
.display-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
  }
  .display-7 {
    font-size: 1.0rem;
    font-weight: 300;
    line-height: 1.1;
  }
   
/*CORES*/
.azul {color: #0066b3;}
.laranja {color:#f7941e;}
.limao {color:#a6ce39;}
.uva {color:#ab709c;}
.branco{color:white;}
.descricao {color:#a1e2ff;}
.subtitle {color:#005ca9;}
.cinza{color:gray;}
.preto{color:black;}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {height: 100%; line-height: 1.8;}

.head {
    background-position: center;
    background-size: cover;
    background-image: url("../media/two.jpg");
    min-height: 100%;
    background-repeat: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {padding: 40px 60px;}

.avatar {
    border-radius: 50%;
    width: 20vh;
}

.post {
    width: 100%;
    min-width: 70%;
}

/*VISUALIZAR DIVS*/
.showmered {background-color: red}
.showmegreen {background-color: green}
.showmeblue {background-color: blue}
.showmepurple {background-color: purple}
.showmepink {background-color: pink}
.showmeyellow {background-color: yellow}
.showmecyan {background-color: cyan}
.showmewhite {background-color: white}

/*EFEITINHOS E FRESCURITES*/
.bglimao {background: linear-gradient(to left, #0066b3 0%,#54bbab 50%,#54bbab 50%,#a6ce39 100%) !important;}
.bguva {background: linear-gradient(to right, #0066b3 0%,#ab709c 100%) !important;}
.bgoceano {background: linear-gradient(to right, #0066b3 0%,#45c0ae 100%) !important;}
.sombra {box-shadow: 5px 10px 50px -5px #888888;}
.sombra-bottom {box-shadow: 0px 10px 50px 0 #888888;}
.sombra-top {box-shadow: 0px -10px 100px 0 #888888;}
.sombra-texto{text-shadow: 2px 2px 4px #000000;}

/*ESPAÇOS E AJUSTES*/
.gimmemarginleft {margin: 5em;}
.padded {padding:2.5em;}
.padded-left {padding-left:1.5em;}
.padded-left-xg {padding-left:6.5em;}
.padded-left-lg {padding-left:5.0em;}
.padded-sides {padding-left:6em; padding-right:6em; }
.padded-sm {padding:2.0em;}
.padded-bottom{padding-bottom:5em;}
.padded-top{padding-top:1.5rem;}
.padded-top-md{padding-top:4rem;}
.margin-top-lg{margin-top:10rem;}
.centerme {
    display:flex;
    text-align:center;
    vertical-align: middle;
    float:none;
    margin:auto;}
.fillme { min-width: 100%; width: 100%;}
* {
	box-sizing:border-box;
}

body {
	margin: 0;
	width: 100%;
	background: #EEE;
  font-family:'Helvetica','Arial',sans-serif;
}

a {
  font-size:16px;
  color:#333;
  text-decoration:none;
}
a:hover {
  background:#333;
  color:#FFF;
  transition: all 0.15s;
}

.wrapper {
	padding: 0;
  margin:0;
  border-bottom:1px solid #CCC;
  text-align:center;
	transition: all 0.25s;
}

ul.nav {
	position: fixed;
	display:block;
	width: 100%;
	top:-100px;
  text-align:right;
	padding:0 5px;
	margin:0;
	background: #FFF;
	z-index: 998;
  transition: all 0.25s;
}

ul.nav li {
	display:inline;
	position: relative;
  text-align:center;
}

ul.nav a {
	display:inline-block;
	font-weight: 300;
	font-size: 16px;
	padding: 5px;
	margin:0;
}

ul.nav li {
	list-style-type: none;
}

ul.nav a:hover {
	background: rgba(255,140,0,0.5);
}
		ul.submenu {
			padding:0;
			display:none;
			position:absolute;
			list-style-type: none;
		}
		ul.submenu li {
			display:list-item;
		}

		ul.submenu a {
			padding:5px;
			display:block;
			background: rgba(255,255,255,0.5);
		}

		ul.submenu a:hover {
			background: rgba(0,139,139,0.1);
		}

		ul.nav li:hover ul.submenu {
			display:block;
		}

label[for="toggle"] {
	position: absolute;
  right:200px;
	padding:5px;
	font-weight: 300;
	font-size: 16px;
  height:30px;
	background: gold;
  border-top:1px solid #CCC;
  box-shadow:2px 2px 0 #CCC;
	cursor:pointer;
  transition: all 0.5s;
	z-index: 10;
}
/*label[for="toggle"]:hover {
	height:65px;
  padding-top:40px;
}
*/
input[type="checkbox"]:checked + ul.nav {
	top: 0;
}

/*the actual checkbox is hidden*/
input[type="checkbox"] {
	display:none;
}

input[type="checkbox"]:checked ~ .wrapper {
	margin-top:28px;
}
